body{
    background-image: url('https://wallpapercave.com/wp/wp7064270.jpg');
}

.card{
    background-color: rgba(0, 0, 0, 0);
}

h1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    margin-bottom: 10vw ;
}

.card-title{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}