*{
    padding: 0;
    margin: 0;
    /* background-image: url('https://i.pinimg.com/originals/72/f0/a8/72f0a8fefe821f142c8c5ec61fbf076a.jpg'); */
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-image: url('https://wallpapercave.com/wp/wp7109578.jpg');
}
.titre{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-style: oblique;
    color :aliceblue;
    position: relative;
    top: 80px;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 45px;
    font-style: oblique;
    color :aliceblue;
    top: 80px;
}

#jeu{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
    width: 900px;
    height: 700px;
    border: 3px solid black;
    background-color: rgba(0, 0, 0, 0.571);
    overflow: hidden;
    margin: 100px;
    padding-left: 10px;
}

#poteau{
    width: 50px;
    height: 700px;
    /* background-image: url('https://wallpapercave.com/wp/wp5148408.jpg'); */
    border-left: blue 6px solid;
    border-right: blue 6px solid;
    position: relative;
    left: 400px;
    animation: poteau 1.5s infinite linear;
}

@keyframes poteau {
    0%{left:900px}
    100%{left:-50px}
}


#trou{
    width: 50px;
    height: 150px;
    background-color: white ;
    position: relative;
    left: 400px;
    top: -500px;
    animation: poteau 1.5s infinite linear;
    transition-duration: 1.5s, 1s, 0.5 ;
}

#perso{
    width: 40px;
    height: 30px;
    /* background-image: url('https://i.pinimg.com/75x75_RS/6b/2b/a1/6b2ba102fa6c30b3cad03aca7f408dcc.jpg'); */
    background-color: white;
    position: absolute;
    top:100px;
    border-radius: 50%;
}





