
body {
    text-align: center;
    background-image: url('https://img.freepik.com/photos-premium/fond-papier-froisse-blanc-recycle-partir-emballage-papier-concept-texture-papier-blanc-froisse_174431-523.jpg?w=2000');
}

  #Jeu {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.279);
    margin-top: 10vh;
    padding: 10px;
  }
  
  #Jeu div {
    margin: 0 auto;
    overflow: hidden;
  }
  
  #Jeu button {
    width: 200px;
    height: 200px;
    font-weight: bold;
    font-size: 100px;
    margin: 5px;
    float:left;
  }
  
  #StatutJeu {
    color: black;
    background: #eee;
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
  }
  
  h1{
    color: rgb(0, 0, 0);
    font-size: 5vh;
  }
